<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.HUMMMM.yopido">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/images"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <!-- Aqui ponemos la actividad principal -->
        <activity android:name=".pantallas.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--        Aqui las demas actividades-->
        <activity android:name="com.HUMMMM.yopido.pantallas.loguedUser.MainMenuLoggeado" />
        <activity android:name="com.HUMMMM.yopido.pantallas.MainIniciarSesion" />
        <activity android:name="com.HUMMMM.yopido.pantallas.MainRegistro" />
        <activity android:name="com.HUMMMM.yopido.pantallas.MainReservaDirecta" />
        <activity android:name="com.HUMMMM.yopido.pantallas.loguedUser.ReservarLogueado" />
        <activity android:name="com.HUMMMM.yopido.pantallas.FinalizarPedido" />

    </application>

</manifest>